@model IEnumerable<(Post, int)>
@{
    ViewData["Title"] = "Comments Under Posts";
}

<h2>Amount of coments under user`s posts</h2>
<h4>(1 required query)</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Post</p>
            </th>
            <th>
                <p>Comments Amount</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@($"#PostInfo{item.Item1.Id}") data-toggle="collapse">@Html.DisplayFor(modelItem => item.Item1.Title)</a>
                    <div class="collapse" id=@($"PostInfo{item.Item1.Id}")>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.Item1.Id)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Item1.Id)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.Item1.CreatedAt)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Item1.CreatedAt)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.Item1.Title)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Item1.Title)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.Item1.Body)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Item1.Body)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.Item1.UserId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Item1.UserId)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.Item1.Likes)
                            </dt>
                            <dd>
                                @Html.DisplayFor(modelItem => item.Item1.Likes)
                            </dd>
                        </dl>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item2)
                </td>
            </tr>
        }
    </tbody>
</table>

